<?xml version="1.0" encoding="utf-8" ?> 
<!-- EG 4.1 instructions -->
<!-- Copy this file to %appdata%\SAS\Enterprise Guide\4 for EG 4.1 -->
<!-- Log files will go in %appdata%\SAS\Enterprise Guide\4\Logs -->

<!-- EG 4.2 instructions -->
<!-- Copy this file to %appdata%\SAS\EnterpriseGuide\4.2 for EG 4.2 -->
<!-- Log files will go in %appdata%\SAS\EnterpriseGuide\4.2\Logs -->

<!-- EG 4.3 instructions -->
<!-- Copy this file to %appdata%\SAS\EnterpriseGuide\4.3 for EG 4.3 -->
<!-- Log files will go in %appdata%\SAS\EnterpriseGuide\4.3\Logs -->

<!-- EG 5.1 instructions -->
<!-- Copy this file to %appdata%\SAS\EnterpriseGuide\5.1 for EG 5.1 -->
<!-- Log files will go in %appdata%\SAS\EnterpriseGuide\5.1\Logs -->
<log4net>
	<appender name="Appender" type="SAS.EG.Utilities.EGFileAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
		</layout>
	</appender>

    <!-- enable basic information log messages from the application -->
	<root>
		<level value="INFO" />
		<appender-ref ref="Appender" />
	</root>
	
	<!-- enable information log messages from the example lifecycle task -->
	<logger name="SASPress.Examples.Lifecycle.Logevents">
		<level value="INFO" />
	</logger>
</log4net>